* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'secundario';
    src: url("./assets/fonts/static/PlusJakartaSans-Medium.ttf");
}

body {
    background: rgb(236, 236, 236);
}

main {
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.contenedor-notificaciones {
    min-width: 417px;
    max-width: 70vw;
    min-height: fit-content;
    border-radius: 1rem;
    background: rgb(255, 255, 255);
    padding: 1.5rem;
}

header {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

#notificaciones {
    font-size: 1.2rem;
    font-weight: bold;
}

#mark {
    font-weight: 10;
    color: rgb(143, 143, 143);
    cursor: pointer;
}

#mark:hover {
    color: rgb(0, 41, 88);
}

.notificaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notificacion {
    display: flex;
    line-height: 1.3;
    margin: .2rem;
    background: rgba(171, 216, 241, 0.219);
    padding: 1rem;
    min-height: 2rem;
    height: auto;
    cursor: pointer;
    border-radius: .6rem;
}

.notificacion img {
    width: 2.5rem;
    height: 2.5rem;
}

.detalles-all {
    display: flex;
    flex-direction: row;
}

.notificacion-pendiente::after {
    display: inline-block;
    margin-left: .5rem;
    content: "";
    width: .5rem;
    height: .5rem;
    background: red;
    border-radius: 50%;
}

.notificacion-descripcion {
    line-height: 1.2rem;
    height: 100%;
    font-size: .9rem;
    margin-left: 1rem;
    color: rgb(114, 114, 114);
    pointer-events: none;
}

.name {
    color: black;
    font-weight: bold;
    cursor: pointer;
    pointer-events: painted;
}

.name:hover {
    color: rgb(0, 41, 88);
}

.grupo {
    font-weight: bold;
    cursor: pointer;
    pointer-events: painted;
}

.grupo:hover {
    color: rgb(0, 41, 88);
}

.info {
    pointer-events: none;
}

.time {
    font-size: .8rem;
    width: max-content;
}

.contenedor-mensaje {
    height: fit-content;
    border-radius: .3rem;
    line-height: 1.3;
    padding: 1rem;
    border: solid 1px rgb(160, 160, 160);
}

#contador-notificaciones {
    font-size: .9rem;
    background: rgb(24, 23, 95);
    padding: .1rem .5rem;
    color: white;
    border-radius: .3rem;
}

.notificacion-isActive {
    background: rgb(255, 255, 255);
}

/* el max-width: dice que los pixeles maximos hasta
donde los estilos se aplicaran osea todo debajo de
los pixeles se els aplicara el estilo */
@media screen and (max-width: 768px) {
    main{
        height:auto;
    }
    .contenedor-notificaciones {
        width: 100vw;
        min-width: 360px;
        min-width: 412px;
        height: fit-content;
    }
    header {
        margin: .8rem;
    }
}

/* min-width: dice que necesita minimo esto para aplicarlo */
@media screen and (min-width:400px) {
    .contenedor-notificaciones {
        background: rgb(255, 255, 255);

    }
}

@media screen and (min-width:799px) and (max-width:1023px) {
    .contenedor-notificaciones {
        min-height: fit-content;
    }
}